<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Movies</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Genre</th>
				<th>Duration</th>
				<th>Year</th>
				<th>Director</th>
				<th>Actors</th>
				<th>Sinopsis</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="movie : ${movies}">
				<th><span th:text="${movie.id}">ID</span></th>
				<th><span th:text="${movie.name}">Name</span></th>
				<th><span th:text="${movie.genre}">Genre</span></th>
				<th><span th:text="${movie.duration}">Duration</span></th>
				<th><span th:text="${movie.year}">Year</span></th>
				<th><span th:text="${movie.director}">Director</span></th>
				<th><span th:text="${movie.actors}">Actors</span></th>
				<th><span th:text="${movie.sinopsis}">Sinopsis</span></th>
				<th><a href="#" th:href="@{/movies/edit?id=__${movie.id}__}"> 
					<p><input type="submit" name="edit" value="Edit"/></p></a></th>
				<th><p><input type="submit" name="remove" value="Delete"/></p></th>
			</tr>
		</tbody>
	</table>
</body>
</html>